
.inputborder {
	height: 40px;
  width: 240px;
	margin-right: 5px;
	margin-left: 5px;
	margin-top: 5px;
	margin-bottom: 5px;
	padding-left: 5px;
	padding-right: 5px;
	display: flex;
	justify-content: center;
	flex-direction: column;
}

.outputborder {
	height: 160px;
  width: 240px;
	margin-right: 5px;
	margin-left: 5px;
	margin-top: 5px;
	margin-bottom: 5px;
	padding-left: 5px;
	padding-right: 5px;
	display: flex;
	justify-content: start;
	flex-direction: column;
}

.menu {
  width: 240px;
 	margin-right: 5px;
	margin-left: 5px;
	display: flex;
	justify-content: center;
}

button {
  margin-top: 0x;
  margin-bottom: 0px;
  margin-right: 3px;
  margin-left: 3px;
}