[Unit]
Description=ledpwm
After=network.target

[Service]
ExecStart=/home/pi/pwm_service_app
WorkingDirectory=/home/pi
StandardOutput=inherit
StandardError=inherit
Restart=on-failure
User=root

[Install]
WantedBy=multi-user.target